<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="./css/styles.css"> 
  <title>About</title>
</head>

<body>

    <div class="main-content">  
        {{>header}}
       <p>This app is created by Shiva Choudhary. It uses data from mapbox.com and darkskey.net!. </p>
        <img class="portrait" src="">
    </div>

    {{>footer}}
</body>
</html>